

<div class="card">
  <div class="card-header">
   <div class="d-flex justify-content-center">
      <h1 class="text-primary">Novo Reserva</h1>
    </div>
  </div>
  <div class="card-body">
    <%= render "form", reserva: @reserva %>
  </div>
</div>
