<br>
<br>

<% if user_signed_in? %>

  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-center">
        <h1 class="text-primary">Editar Hotéis</h1>
      </div>
    </div>
    <div class="card-body">
      <%= render "form", hotel: @hotel %>
      <div>
        <%= link_to "Ficha do Hotel", @hotel, class:"btn btn-info btn-sm text-white" %>
      </div>
    </div>
  </div>

<% end%>