<br>
<br>
<br>
<br>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-center">
      <h1 class="text-primary">Editar Quarto</h1>
    </div>
  </div>
  <div class="card-body">
    <%= render "form", quarto: @quarto %>
  </div>
</div>

<br>

<div>
<%= link_to "Ficha do Quarto", @quarto, class:"btn btn-info btn-sm text-white" %>
</div>
 