<br>
<br>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-center">
      <h1 class="text-primary">Editar Tipo/Diária</h1>
    </div>
  </div>
  <div class="card-body">
    <%= render "form", tipo: @tipo %>
  </div>
</div>

<br>

<div>
<%= link_to "Ficha do Quarto", @tipo, class:"btn btn-info btn-sm text-white" %>
</div>
