<div id="<%= dom_id hospede %>">
  <p>
    <strong>Nome:</strong>
    <%= hospede.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= hospede.idade %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= hospede.CPF %>
  </p>

</div>
