<br>
<br>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-center">
      <h1 class="text-primary">Editar Hóspede</h1>
    </div>
  </div>
  <div class="card-body">
    <%= render "form", hospede: @hospede %>
    <div>
    <%= link_to "Ficha do Hóspede", @hospede, class:"btn btn-info btn-sm text-white" %>
    </div>
  </div>
</div>