<br>
<br>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-center">
      <h1 class="text-primary">Novo Hóspede</h1>
    </div>
  </div>
  <div class="card-body">
    <%= render "form", hospede: @hospede %>
  </div>
</div>
