<footer class="site-footer mt-auto py-3 bg-primary">
  <div class="container">
    <img data-src="holder.js/200x200" class="rounded-circle float-end" alt="200x200" src="https://cdn.discordapp.com/attachments/996847138837373058/1064257710352257104/Logo.png" data-holder-rendered="true" style="width: 45px; height: 40px;">
    <img data-src="holder.js/200x200" class="rounded-circle float-end" alt="200x200" src="https://upload.wikimedia.org/wikipedia/commons/7/70/Bras%C3%A3o_da_UESPI.svg" data-holder-rendered="true" style="width: 45px; height: 40px;">
    <br>
    <span class="text-light">&copy 2023 Hermes, Hotelaria.</span>
  </div>
</footer>