<div class="container body-content">

  <br>

    <div class="d-flex justify-content-center">
        <h1 class="text-primary">Acomodações</h1>
    </div>

  <br>
  <br>
  <br>

    <div class="row featurette">
      <div class="col-md-7">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 class="featurette-heading fw-normal lh-1 text-primary">Quarto Deputado. 
        <p><span class="text-muted">R$199,90.</span><p></h2>
        <p class="lead">As suítes Deputado são confortáveis e com tudo o que você precisa para aproveitar todos os atrativos da região, traz para seus hóspedes quartos amplos, práticos, com ar condicionado, camas confortáveis, internet gratuita, estacionamento pago e privativo no local, armários, frigobar e ar-condicionado, ideal pra quem está na cidade para uma entrevista de trabalho.</p>
      </div>
      <div class="col-md-5">
        <img data-src="holder.js/500x500" class="rounded" alt="500x500" src="https://www.hplus.com.br/wp-content/uploads/2019/08/quarto-superior-solteiro-hotel-cullinan-hplus-em-brasilia-1.jpg" data-holder-rendered="true" style="width: 550px; height: 500px;">
      </div>
    </div>

    <br>
    <hr class="featurette-divider text-primary">
    <br>

     <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <br>
        <br>
        <br>
        <br>
        <h2 class="featurette-heading fw-normal lh-1 text-primary"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Suíte Ministro
        <p><span class="text-muted"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Diária - R$ 399,90</span></p></h2>
        <p class="lead"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp As suítes ministro tendo design coeso à nossa realidade e &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp missão. Ser sua casa fora de casa! São modernas e  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp confortáveis, com wifi gratuito e room service 24horas com  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp cortinas blackout, isolamento acústico, ar-condicionado, &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp escrivaninha, frigobar, TV de plasma, sofá-cama e instalações &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp para conferência e contando com vista para a piscina, &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp estacionamento inclusos na diária e uma internet de alta &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp velocidade para curtir sua hospedagem da melhor forma.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img data-src="holder.js/500x500" class="rounded" alt="500x500" src="https://coralplaza.com.br/wp-content/uploads/2018/07/194920-tipos-de-quarto-de-hotel-como-escolher-o-melhor-na-sua-hospedagem-1.jpg" data-holder-rendered="true" style="width: 550px; height: 450px;">
      </div>
    </div>

    <br>
    <hr class="featurette-divider text-primary">
    <br>

    <div class="row featurette">
      <div class="col-md-7">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 class="featurette-heading fw-normal lh-1 text-primary">Suíte Presidencial. 
        <p><span class="text-muted">R$599,90.</span><p></h2>
        <p class="lead">As premiadas suítes Presidente proporcionam experiências personalizadas para nossos hóspedes em um ambiente elegante e contemporâneo que possibilita momentos de descontração em um ambiente agradável com petiscos e drinks clássicos e locais. Nosso serviço de quarto oferece deliciosas opções no almoço e jantar. Pensando sempre no conforto dos nossos hóspedes, oferecemos acesso gratuito à internet de alta velocidade, ar-condicionado e uma sacada com vista para o ponto turístico.
</p>
      </div>
      <div class="col-md-5">
        <img data-src="holder.js/500x500" class="rounded" alt="500x500" src=" https://www.wishhotels.com.br/neocms/images/hotels/0004/presidencial-1.jpg" data-holder-rendered="true" style="width: 550px; height: 500px;">
      </div>
    </div>
</div>