<div class="container body-content">

    <br>

    <div class="d-flex justify-content-center">
        <h1 class="text-primary">Sobre Nós</h1>
    </div>

    <br>
    <br>
    <br>

<div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <img data-src="holder.js/200x200" class="rounded-circle" alt="200x200" src="https://i.pinimg.com/564x/fc/d3/bf/fcd3bffda7aa755a3286f861010993cb.jpg" data-holder-rendered="true" style="width: 140px; height: 140px;">

        <h2 class="fw-normal">Lohran Francisco</h2>
        <p>Estudante da UESPI e Designer/Criador da Hermes.</p>
      </div>
      <div class="col-lg-4">
        <img data-src="holder.js/200x200" class="rounded-circle" alt="200x200" src="https://i.pinimg.com/564x/9c/2c/c2/9c2cc293908d687ec3c4a20db00d46b4.jpg" data-holder-rendered="true" style="width: 140px; height: 140px;">

        <h2 class="fw-normal">Cristian Gabriel</h2>
        <p>Estudante da UESPI e Criador/Designer da Hermes.</p>
      </div>
      <div class="col-lg-4">
        <img data-src="holder.js/200x200" class="rounded-circle" alt="200x200" src="https://media.licdn.com/dms/image/C5603AQEZ4qBAc-iqCA/profile-displayphoto-shrink_800_800/0/1517637022968?e=2147483647&v=beta&t=CJc5P2btUbK4F9aCgOFLtj5DBZH2GMMlNAhfiyaYRiU" data-holder-rendered="true" style="width: 140px; height: 140px;">
        <h2 class="fw-normal">Constatino Augusto</h2>
        <p>Professor da UESPI e Mestre em Ciência da Computação.</p>
      </div>
    </div>
</div>

    <br>
    <hr class="featurette-divider text-primary">
    <br>

  <div class="row featurette">
      <div class="col-md-7">
        <br>
        <br>
        <br>
        <h2 class="featurette-heading fw-normal lh-1 text-primary">Nossa Missão. 
        <p class="lead text-dark">Garantir conforto e agilidade para a sua estadia, oferecendo serviço de hospedagem de excelência em qualidade, visando a satisfação dos clientes, a valorização dos nossos colaboradores, melhorias a sociedade e resultado para nossa empresa.</p>
        <h2 class="featurette-heading fw-normal lh-1 text-primary">Nossa Visão. 
        <p class="lead text-dark">Ser o mais bem sucedido e respeitado no setor de prestação de serviço de hospedagem do centro-oeste, fazendo do Itamaraty Hotel uma extensão do seu lar promovendo conforto, segurança e qualidade.</p>
        <h2 class="featurette-heading fw-normal lh-1 text-primary">Nossos Valores. 
        <p class="lead text-dark">Profissionalismo, Inovação, Ética, Renovação, Responsabilidade Social e Ambiental, Excelência e qualidade, Valorização dos recursos humanos.</p>
      </div>
      <div class="col-md-5">
        <img data-src="holder.js/500x500" class="rounded" alt="500x500" src="https://cdn.discordapp.com/attachments/996847138837373058/1064258035289165956/Marca.png" data-holder-rendered="true" style="width: 500px; height: 500px;">
      </div>
    </div>

</div>